@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: 1.5em;
    clear: right;
}
h1 {
    font-size: 32px;
}
table,th,td,tr {
    border: 1px solid black;
}
figcaption {
    font-style: italic;
}
figure {
    float: right;
}
/*p::after {
    content: "";
    clear: both;
    display: table;
  }*/